body {
	background-image: url(../images/purple.jpg);

}

.grid {
	width: 900px;
	height: 600px;
	margin: 0 auto;
	background-color: white;
	padding: 0px 50px 50px 50px;
	border-radius: 50px;
	border: 2px solid blue;

}

.grid #trivia {
	font-family: sans-serif;
	text-align: center;
	font-size: 50px;
	color: black;
	padding: 2px 0px;
}
.grid h1 {
	font-family: sans-serif;
	text-align: center;
	font-size: 50px;
	color: blue;
	padding: 2px 2px;
	background-color: white;
	border-radius: 50px;
}

#btn0, #btn1, #btn2, #btn3 {	
	width: 300px;
	font-size: 20px;
	background-color: white;
	border: 1px solid blue;
	border-radius: 50px;
	margin: 0px 30px 20px 50px;
	padding: 10px 10px;

}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
	cursor: pointer;
	background-color: yellow; 
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
	outline: 0;
}
