body {
	background-image: url(../images/purple.jpg);

}

.grid {
	width: 900px;
	height: 600px;
	margin: 0 auto;
	background-color: white;
	padding: 0px 50px 50px 50px;
	border-radius: 50px;
	border: 2px solid blue;
	opacity: .6;
}
#start-btn{
	width: 150px;
	position: relative;
    left: 330px;
    top: 150px;
}

.grid #trivia {
	font-family: sans-serif;
	text-align: center;
	font-size: 40px;
	color: black;
	padding: 2px 0px;
}
.grid h1 {
	font-family: sans-serif;
	text-align: center;
	font-size: 50px;
	color: blue;
	padding: 2px 2px;
	background-color: white;
	border-radius: 50px;
}

#btn0, #btn1, #btn2, #btn3 {	
	width: 300px;
	font-size: 20px;
	background-color: white;
	border: 1px solid blue;
	border-radius: 50px;
	margin: 0px 30px 20px 50px;
	padding: 10px 10px;

}


.answer-data:hover {
	cursor: pointer;
	background-color: blue; 
}

.answer-data:focus {
	outline: 0;
}

#next-btn:hover {
	cursor: pointer;
	background-color: blue; 
}

#next-btn:focus {
	outline: 0;
}

#start-btn:hover {
	cursor: pointer;
	background-color: blue; 
}

#start-btn:focus {
	outline: 0;
}





